<!--
=========================================================
Material Dashboard - v2.1.2
=========================================================

Product Page: https://www.creative-tim.com/product/material-dashboard
Copyright 2020 Creative Tim (https://www.creative-tim.com)
Coded by Creative Tim

=========================================================
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html>

<head>
  <%- include("../partials/headers") %>
  <link rel="stylesheet" href="/css/input_table.css">
    <!--ariel ws-->
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io.connect();
      function setWs() {
        socket.on('newdata', function (msg) {
          var element = document.getElementById(msg.districtId);
          element.innerText = msg.value;
        })
      }
    </script>
    <!--ariel ws -->
</head>

<body class="" onload="setWs()">
  <div class="wrapper ">
    <%- include("../partials/sidebar") %>
      <div class="main-panel">
          <div class="content">
            <div class="container-fluid">
              <h1>Search For Recent Events</h1>
              <h3>The following table shows recent events. You can search in a time range by telescope types or event or name.</h3>
              <%- include("../partials/search_filter", {list, titels, dataFromES}) %>
            </div>
          </div>
      </div>
  </div>
</body>

</html>