* {
    margin: 0;
}
body {
    /* margin-left: ; */
}

.content {
    /* background-color: aquamarine; */
    /* width: 1400px; */
}

h1 {
    padding: 10px;
    text-align: center;
    font-size: 60px;
}

div {
  /* float: left;
  padding: auto; */
}

form {
    max-width: 200;
    margin: 0 auto;
    padding-left: 80px;
    margin-bottom: 30px;
}

select, input[type=text], input[type=submit] {
    width: 150px;
    padding: 15px 20px;
    margin: 8px;
    box-sizing: border-box;
    border-radius: 10px;
}

input[type="date"]{
    padding: 12px 20px;
    
    font-family: "Roboto Mono",monospace;

    /* font-size: 18px; */
    /* border: none; */
    outline: none;
    border-radius: 10px;
}

button {
    /* clear: both; */
    /* display: block; Add this line to make the button a block element */
    /* margin: 0 auto; */
    background-color: slateblue;
    border: none;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 150px;
}

label {
  font-size: 20px;
}

/* Style for the table */
table {
  background-color: white;
  border-collapse: collapse;
  width: 100%;
  border: 2px solid purple; /* Purple border for the table */
}

/* Style for table headers (th) */
th {
  background-color: purple;
  color: white;
  padding: 12px;
}

/* Style for table cells (td) */
td {
  padding: 8px;
  text-align: left;
}

/* Style for alternating row background colors */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Hover effect for table rows */
tr:hover {
  background-color: #e6ccff;
}

/* table {
    margin: -35;
    table-layout: fixed;
    width: 1200px;
    border-collapse: collapse;
    border: 3px solid purple;
  }
  
  
  th,
  td {
    margin: 0;
    /* padding: 5px; */
    /* width:  
  } */